{% extends 'base.html' %}
{% load static %}


{% block link-css %}
<link rel="stylesheet" href="{% static 'shop/css/base.css' %}">
<link rel="stylesheet" href="{% static 'shop/css/cart.css' %}">
{% endblock %}


{% block main-content %}

<div class="container">
    <div class="content">
        <div class="slogan">
            <h1>
                Корзина {% if not cart.products.count %}пуста{% endif %}
            </h1>
        </div>
        <div class="table">
            <table>
                <thead>
                <tr>
                    <th>Товар</th>
                    <th></th>
                    <th class="unused">Цена</th>
                    <th>Кол-во</th>
                    <th>Размер</th>

                    <th class="unused">Цвет</th>
                    <th>Общая цена</th>
                </tr>
                </thead>
                <tbody>
                {% for item in cart.products.all %}
                <tr>
                    <td><span class="marked">{{item.product.title}}<br><span class="product-color">({{item.color.color}})</span></span>
                    </td>
                    {% for img in images %}
                    {% if img.object_id == item.product.id %}
                    <td><img src="{{img.image.url}}" alt="priv"></td>
                    {% endif %}
                    {% endfor %}
                    <td class="unused">{{item.product.price}} руб.</td>
                    <td>
                        <form action="{% url 'change_qty' product_slug=item.product.slug size=item.size.size color=item.color.color %}"
                              method="POST" class="form">
                            {% csrf_token %}
                            <input type="number" name="qty" min="1" value="{{item.qty}}">
                            <br>
                            <input class="unused" type="submit" value="Применить">
                        </form>
                    </td>
                    <td class="size">{{item.size.size}}</td>
                    <td class="unused">{{item.color.color}}</td>
                    <td><span class="marked">{{item.final_price}}</span></td>
                    <td>
                        <a href="{% url 'delete_from_cart' product_slug=item.product.slug size=item.size.size color=item.color.color qty=item.qty %}"><img
                                class="icon"
                                src="https://img.icons8.com/external-bearicons-detailed-outline-bearicons/64/000000/external-trash-can-graphic-design-bearicons-detailed-outline-bearicons.png"/></a>
                    </td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        <span class="marked-brown">Итого: {{cart.total_price}} руб.</span>

        {% if request.user.is_authenticated %}
        <a href="{% url 'checkout' %}">
            <button class="log-btn">Оформить заказ</button>
        </a>
        {% else %}
        <a href="{% url 'login' %}">Войдите или зарегистрируйтесь чтобы оформить заказ</a>
        {% endif %}

    </div>
</div>


{% endblock %}
