{% extends 'base.html' %}

{% load static %}

{% block link-css %}
<link rel="stylesheet" href="{% static 'shop/css/base.css' %}">
<link rel="stylesheet" href="{% static 'shop/css/catalog.css' %}">
{% endblock %}


<body>

{% block main-content %}
<main class="container">
    <h1 class="name-wrapper">
        Каталог товаров
    </h1>
    <div class="categories">
        <ul>
            <li class="category-list"><a href="{%url 'product_list'%}" class="category-name ">Все</a></li>
            {% for category in categories %}
            <li class="category-list"><a href="{{category.get_absolute_url}}"
                                         class="category-name">{{category.name}}</a>
            </li>
            {%endfor%}
        </ul>
    </div>

    <select class="select" id="select" onchange="window.location.href=this.options[this.selectedIndex].value">
        <option value="">Категория товара</option>
        <option value="{%url 'product_list'%}">Все</option>
        {% for category in categories %}
        <option value="{{category.get_absolute_url}}">{{category.name}}</option>
        {%endfor%}
    </select>


    <div class="content">
        <ul class="product-list">
            {% for product in products %}
            <li class="products">
                {% for img in images %}
                {% if img.object_id == product.id %}
                <div class="product-photo"><a href="{{product.get_absolute_url}}"><img class="prd-img"
                                                                                       src="{{img.image.url}}"
                                                                                       alt="priv"></a>
                </div>
                {% endif %}
                {% endfor %}
                <div class="text-product">
                    <p class="prd-name"><a href="{{product.get_absolute_url}}"
                                           class="product-name">{{product.title}}</a>
                    </p>
                </div>

                <p class="product-price"><big>{{product.price}}</big> <small>руб.</small></p>

            </li>
            {% endfor%}
        </ul>
    </div>
    <title>Buy cool new product</title>
    <form action="/create-checkout-session" method="POST">
        <button type="submit">Checkout</button>
    </form>
    <button class="load-more-class" id="load-more"><a href="">Загрузить еще</a></button>

    </div>
</main>

{% endblock %}

{% block js-scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>

<script src="{% static 'shop/js/base.js' %}" loading="lazy"></script>
<script src="{% static 'shop/js/catalog.js' %}" loading="lazy"></script>
{% endblock %}

</body>
