<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Каталог</title>
</head>
<body>
<h1>My Catalog</h1>

    {% for category in categories %}
        <h2>
            <a href="{{category.get_absolute_url}}">{{ category.name }}</a>
        </h2>
    {% endfor %}

    {% for product in products %}
        <h2>
            <a href="{{product.get_absolute_url}}">{{ product.title }} {{product.price}}</a>
        </h2>
    {% endfor %}
</body>
</html>