{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block link-css %}
<link rel="stylesheet" href="{% static 'shop/css/base.css' %}">
<link rel="stylesheet" href="{% static 'shop/css/checkout.css' %}">

{% endblock %}

{% block main-content %}


<div class="container">

    <form action="{% url 'make_order' %}" method="POST">
        {% csrf_token %}
        {{form | crispy}}

        <input class="log-btn" type="submit" value="Оплатить {{cart.total_price}} руб.">
    </form>
    </form>
</div>


{%endblock%}

