{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main-content %}
<style>

    body {
        background: #fdd5b1;
    }

    .main {
        background: #fdd5b1;
        padding-bottom: 5%;
        padding-top: 5%;
    }

    .reg {
        margin-left: 5%;
        display: flex;
        align-items: center;
    }

    .reg p {
        margin: 0;
        margin-left: 5%;
    }

    .log-btn {
        text-align: center;
        padding: 0.5% 1.5%;
        background: #f17180;
        border-radius: 10px;
        font-family: 'Exo 2', sans-serif;
        font-weight: 500;
        font-style: italic;
        border: 2px solid #f17180;
        color: #fff;
        transition: 0.3s;
    }

    .log-btn:hover {
        background: #fff;
        color: #f17180;
        border: 2px solid #f17180;
    }

    .log-btn p {
        margin: 0;
    }

    h3 {
        font-family: 'Exo 2', sans-serif;
        font-size: 30px;
        font-style: italic;

        font-weight: 600;
        color: #f17180;
    }

    @media screen and (max-width: 370px) {

        .reg {
            margin-left: 0;
        }
    }

</style>
<div class="main">
    <div class="container">

        <h3>Авторизация</h3>

        <form class="login" action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            {{form | crispy}}
            <div class="reg">

                <input class="log-btn" type="submit" value="Войти">

                <p>Нет акаунта?</p>
                <button class="log-btn " onclick=" window.location.href = '{%url 'registration'%}'">
                    <p>Регистрация</p>
                </button>
            </div>
        </form>

    </div>
</div>


{% endblock %}