{% extends 'base.html' %}

{% load static %}

{% block link-css %}
<link rel="stylesheet" href="{% static 'shop/css/base.css' %}">
{% endblock %}

{% block main-content %}
<div class="container">
    <div class="content">
        <h3>Сброс пароля</h3>
    </div>

    <p>Инструкции: введите вашу почту, если она указана в нашей базе данных и вы зарегистрированы, то на нее придет сообщение о сбросе пароля</p>
    <form method="POST">
        {% csrf_token %}
        {{form}}
        <input type="submit" name="send email">
    </form>

</div>
{% endblock %}
