{% extends 'base.html' %}
{% load static %}

{% block link-css %}
<link rel="stylesheet" href="{% static 'shop/css/base.css' %}">
<link rel="stylesheet" href="{% static 'shop/css/personal_area.css' %}">
{% endblock %}

<body>
{% block main-content %}
<div class="container">
    <h1 class="name-wrapper">
        Личный кабинет
    </h1>
    <div class="data">
        <a href="{%url 'personal_info'%}">
            <button class="block personal-data">
                <img class="icon" src="https://img.icons8.com/pastel-glyph/64/000000/user-male-circle.png"/>
                <h2>Личные данные</h2>
            </button>
        </a>

        <a href="{%url 'history_orders'%}">
            <button class="block history-of-orders">
                <img class="icon " src="https://img.icons8.com/wired/64/000000/list.png"/>
                <h2>История заказов</h2>
            </button>
        </a>

        <a href="{%url 'cart'%}">
            <button class="block basket">
                <img class="icon" src="https://img.icons8.com/pastel-glyph/64/000000/shopping-cart--v2.png"/>
                <h2>Корзина: {{cart.products.count}}</h2>
            </button>
        </a>


        <a href="{%url 'logout'%}">
            <button class="block exit">
                <img class="icon " src="https://img.icons8.com/ios-glyphs/30/000000/lock--v1.png"/>
                <h2>Выход</h2>
            </button>
        </a>
    </div>
</div>
{% endblock %}
</body>
