{% extends 'catalog.html' %}

{% block catalog %}

<div class="detail-product">
    <div class="detail-photo">
            <img src="{{main_image.image.url}}" alt="priv" class="detail-img">
    </div>

    <div class="detail-text">
        <p class="detail-name">
            {{product.title}}
        </p>

        <p class="detail-descrition">
            {{product.description}}
        </p>

        {% for color in colors %}
        {{color.color}}
        {% endfor %}

        {% for size in sizes %}
        {{size.size}}
        {% endfor %}

        <p class="detail-price">
            {{product.price}}
        </p>
    </div>

</div>


{% endblock %}
