{% extends 'catalog.html' %}
{% load static %}


{% block link-css %}
<link rel="stylesheet" href="{% static 'shop/css/base.css' %}">
<link rel="stylesheet" href="{% static 'shop/css/catalog.css' %}">
<link rel="stylesheet" href="{% static 'shop/css/product_detail.css' %}">

{% endblock %}


{% block main-content %}
<div class="container">
    <div class="content">
        <div class="detail-photo">
            <div class="double-slider">
                <style>
                    .slider .slick-arrow.slick-prev {
                        left: 0;
                        background: url({% static 'shop/img/arrows/sl-arrow_l.svg' %}) 0 0 / 100% no-repeat;
                        border: 0;
                    }

                    .slider .slick-arrow.slick-next {
                        right: 0;
                        background: url({% static 'shop/img/arrows/sl-arrow_r.svg' %}) 0 0 / 100% no-repeat;
                        border: 0;
                    }
                </style>
                <div class="slider">
                    {% for img in images %}
                    <div class="slider-item">
                        <img src="{{img.image.url}}" loading="lazy" alt="">
                    </div>
                    {% endfor %}
                </div>

                <div class="down-imgs">
                    <div class="slider-nav">
                        {% for img in images %}
                        <div class="slider-nav-item">
                            <img src="{{img.image.url}}" loading="lazy" alt="">
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>

        <div class="detail-text">
            <p class="detail-name">
                {{product.title}}
            </p>

            <p class="detail-description">
                {{product.description}}
            </p>

            <div class="specification">

                <form action="{% url 'add_to_cart' product_slug=product.slug%}" method="POST">
                    {% csrf_token %}
                    <div class="colors-div">
                        <p class="name-specification">Доступные цвета</p>
                        <select name="color">
                            {% for color in colors %}
                            <option class="colors" value="{{color.color}}">{{color.color}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="sizes-div">
                        <p class="name-specification">Доступные размеры</p>

                        <select name="size">
                            {% for size in sizes %}
                            <option class="sizes" value="{{size.size}}">
                                {{size.size}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <input type="submit" value="Добавить в корзину" class="add-to-cart">
                </form>
            </div>


        </div>
    </div>
</div>

<!--<div id="count-for-js" style="display: none">-->
<!--    {{images|length}}-->
<!--</div>-->

{% endblock %}

{% block js-scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
<script src="{% static 'shop/js/slick.min.js' %}"></script>
<script src="{% static 'shop/js/base.js' %}"></script>
<script src="{% static 'shop/js/product-detail.js' %}"></script>
{% endblock %}

