body {
    background: rgba(213, 227, 188, 0.84);
    margin: 40px;

}

.header-content {
    background: grey;
    padding: 20px;
    height: 80px;
}

.wrapper {
    display: block;
    margin: 0 auto;

}

.name-wrapper {
    color: #f17180;
    font-style: italic;
    font-size: 72px;
    text-align: center;
}

.content {
    display: flex;
    margin: 0 auto;
}

.categories {
    position: sticky;
    top: 42px;
    height: 21%;
    width: 13%;
}

.categories h2 {
    font-size: 25px;
    font-style: italic;
    color: #f17180;
    text-align: center;
}


.category-list {
    display: block;
    box-shadow: 5px 10px 25px 5px rgb(0 0 0 / 20%);
    border: 1px solid #cb8989;
    border-radius: 20px;
    background: #ffbdbd;
    text-align: left;
    margin-bottom: 3px;
    transition: .4s ease-out;


}


#category-name {
    display: block;
    color: #484343;
    font-size: 20px;
    font-style: italic;
    text-decoration: none;
    transition-duration: 0.3s;
    padding-left: 10px;
}

.category-list:hover {
    background-color: #cc8585;
}

#category-name:active{
    color:red;
}


.product-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.products {
    position: relative;
    display: block;
    width: 30%;
    border: 1px solid #b5e9a7;
    border-radius: 20px;
    background: #fff;
    margin: 5% 1%;
    height: 30%;
    box-shadow: 5px 10px 25px 5px rgb(0 0 0 / 20%);

}

.product-photo {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
    box-shadow: 5px 10px 25px 5px rgb(0 0 0 / 20%);
    border: 3px solid #312d2d;
    border-radius: 20px;
    margin: 0;
    transition: transform .4s ease-out;

}

.prd-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 105%;
    max-height: 105%;
    margin: auto;
    border-radius: 15px;
}

.product-photo:hover {
    transform: scale(1.05);
}

.prd-name {
    text-align: center;

}

.product-name {
    font-size: 30px;
    text-decoration: none;
    color: #be4242;
    font-style: italic;
    font-weight: bold;
    margin: 0;
    transition-duration: 0.3s;

}

.product-name:hover {
    font-size: 36px;
}

.product-description {
    text-align: center;
    font-size: 15px;
    font-style: italic;
    color: #7a6a6a;
    margin: 5px 50px 5px 50px;
}


.product-price {
    margin: 10px 0 10px 10px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    color: #be4242;
    font-size: 20px;

}


